<html>

<head>
    <title>Create a Post </title>
    <link rel="stylesheet" href="">
</head>

<body>
    <div>
        <h1>Create a Post </h1>
        <form action="/paste/create" method="POST">
            {% csrf_token %}
            Content: <br />
            <textarea cols="75" rows="15" name="content">
</textarea><br />
            <button type="submit"> Save </button>
        </form>
    </div>
    {% for i in n %}
    {% if i.textSaved|length > 9 %}
    <div id="{{i.id}}"><a href="{% url 'paste/id' i.id %}"> {{ i.textSaved|slice:"0:9" }} ...</a></div>
    {% else %}
    <div> {{ i.textSaved }} </div>
    {% endif %}
    {% endfor %}
</body>

</html>